<!--Isso é uma tag <HTML> -->
<!--Tag head > Vai escrito as configuraçôes do meu documetno. -->       
<!--Tag body > Será escrito todo conteúdo visível na página. -->
<!--
HTML

 Hypertext
     Hipertexto
    <a>

Markup
    Marcação

Language
    Linguagem
-->


<!DOCTYPE html>
<html lang="pt_br"> <!--<lang> é um atributo que define a linguagem do seu <HTML> -->
<head>
    <meta charset="UTF-8"> <!--'UTC-8' é uma configuração da caracteristica da letra usada-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--<style>

        /* 
        
        CSS

        Cascading
        Cascata

        Style Sheet
        Folha de estilo
        
        */

    </style>-->
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/page-landing.css">

        <!-- LINK DA FONTE USADA NA CRIAÇÃO DA PAGINA, FONTE DO GOOGLE FONTES -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>


<body id="page-landing"> <!-- ID= É UMA CLASSE E SÓ É USADA DENTROS DAS SETAS -->

    <div id="container"> 
        <div class="logo-container">

            <img src="/images/logo.svg" alt="Proffy"> <!-- LOGO PROFFY DA PAGINA, SRC É USADO PARA LOCALIZAR O LOGO E ALT SIGNIFICA ALTERNATIVA O QUE ESTÁ ESCRITO NA IMAGEM-->
            <h2>Sua platarforma de estudos online.</h2>

        </div> <!-- DIV É UMA TAG QUE NÃO TEM SIGNIFICADO -->

        <img class="hero-image" src="images/landing.svg" alt="plataforma de estudos"> <!-- LOGO PRINCIPAL DA PAGINA -->

         <div class="buttons-container"> <!-- CLASSES DOS BOTÕES, O PAI DOS BOTÕES -->

            <a class="study" href="/study"><img src="/images/icons/study.svg" alt="Estudar">Estudar <!-- BOTÃO STUDY-->
            </a>

            <a class="give-classes" href="/give-classes"><img src="/images/icons/give-classes.svg" alt="Dar aulas">Dar aulas <!-- BOTÃO DAR AULAS -->
            </a>

         </div>>

         <p class="total-connections">Total de 285 conexões já realizadas <img src="/images/icons/purple-heart.svg" alt="Coralção roxo">
         </p>

         </div>

     </div>
</body>
</html>